/* - - - - - - PAGE_5 SECTION - - - - - - */
#page5 {
    position: relative;
    width: 100%;
    min-height: 55vw;                             /* 55 viewport width - defines height of the page*/
    overflow: hidden;
}

.layer {
    position: absolute;
    width: 100vw;
    min-height: 55vw;                            /* 55 viewport width - defines height of the page*/
    overflow: hidden;
}

.layer .page5-content {
    position: absolute;
    width: 100vw;
    min-height: 55vw;                            /* 55 viewport width - defines height of the page*/
}

.layer .page5-text {
    width: 25%;
    position: absolute;
    top:50%;
    text-align: center;
    transform: translateY(-50%);
}

.layer img {
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.layer h1 {
    font-size: 2em;
}

.rent {
    background: #222;
    z-index:1;
}

.rent .page5-text {
    right: 5%;                /* Text right margin */
}

.rent h1 {
    color: #FDAB00;
}

.buy {
    background: #eee;
    color: #222;
    z-index: 2;
    width: 50vw;
}

.buy .page5-text {
    left: 5%                 /* Text left margin */
    color: #222;
}

.handle {
    position: absolute;
    height: 100%;
    display: block;
    background-color: #fdab00;
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}


@media screen and (min-width: 1367px) { /* Large Desktop */
    
}

@media screen and (min-width: 1281px) and (max-width: 1366px) { /* Desktop */
    
}

@media screen and (min-width: 768px) and (max-width: 1280px) { /* Tablet */
    
}

@media screen and (min-width: 321px) and (max-width: 767px) { /* Mobile */
    
}

@media screen and (max-width: 380px) { /* Small mobile */
    
}
