/* - - - - - - PAGE_8 SECTION - - - - - - */
.section_page7 {
    position: relative;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.section_page7 img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}



@media screen and (min-width: 1367px) { /* Large Desktop */
    
    
}

@media screen and (min-width: 1281px) and (max-width: 1366px) { /* Desktop */
    
}

@media screen and (min-width: 768px) and (max-width: 1280px) { /* Tablet */
   
}

@media screen and (min-width: 321px) and (max-width: 767px) { /* Mobile */
    
}

@media screen and (max-width: 380px) { /* Small mobile */
    
}
