/* - - - - - - PAGE_6 SECTION - - - - - - */
.section_page6 {
    background-color: #e0e0e0; /* Light background */
    color: #000000; /* Black text */
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0; /* Top/bottom margin and side padding */
    min-height: fit-content; /* Height based on content */
    box-sizing: border-box;
}
.page6-content {
    text-aligh: center;
    padding: 0 20px; /* Horizontal padding for cpntent */
}
.page6-content h1 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    margin: 10px 0;
}

.page6-content h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

@media screen and (min-width: 1367px) { /* Large Desktop */
    .page6-content h1 {
        font-size: 30px;
    }
    .page6-content h2 {
        font-size: 22px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) { /* Desktop */
    .page6-content h1 {
        font-size: 30px;
    }
    .page6-content h2 {
        font-size: 22px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) { /* Tablet */
    .page6-content h1 {
        font-size: 26px;
    }
    .page6-content h2 {
        font-size: 20px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) { /* Mobile */
    .page6-content h1 {
        font-size: 26px;
    }
    .page6-content h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 380px) { /* Small mobile */
    .page6-content h1 {
        font-size: 24px;
    }
    .page6-content h2 {
        font-size: 16px;
    }
}
