/* - - - - - - PAGE_5 SECTION - - - - - - */
#page5 {
    position: relative;
    width: 100%;
    min-height: 55vw;
    overflow: hidden;
}

.layer {
    position: absolute;
    width: 100vw;
    min-height: 55vw;
    overflow: hidden;
}

.layer .page5-content {
    position: absolute;
    width: 100vw;
    min-height: 55vw;
}

.layer .page5-text {
    width:25%
    position: absolute;
    top: 50%;
    text-align: center;
}

.layer img {
    position: absolute;
    width: 35%;
}

.layer h1 {
    font-size: 2em;
}

.rent {
    background: #222;
    z-index: 1;
}

.rent .page5-text {
    right:5%;
}

.rent h1 {
    color: #FDAB00;
}

.buy {
    background: #eee;
    color: x222;
    z-index: 2;
    width: 50vw;
}

.buy .page5-text {
    left:5%;
    color:#222;
}

.handle {
    position: absolute;
    height: 100%;
    display: block;
    background-color:#FDAB00;
    width:5px;
    Top:0;
    left:50%;
    z-index:3;
}

.section-page5 .handle {
    top:50%;
    transform: rotate(30deg) translateY(-50%);
    height:200%;
    transform-origin:top;
}

.section-page5 .buy {
    transform: skew(-30deg);
    margin-left:-1000px;
    width: calc(50vw + 1000px);
}

.section-page5 .buy .page5-content {
    transform: skew(30deg);
    margin-left:1000px;
}
    


@media screen and (min-width: 1367px) { /* Large Desktop */
    
}

@media screen and (min-width: 1281px) and (max-width: 1366px) { /* Desktop */
    
}

@media screen and (min-width: 768px) and (max-width: 1280px) { /* Tablet */
    
}

@media screen and (min-width: 321px) and (max-width: 767px) { /* Mobile */
    
}

@media screen and (max-width: 380px) { /* Small mobile */
    
}
